
<% if @products.any? %>
  <div class="product-list">
    <h2>Products</h2>
    <ul>
      <% @products.each do |product| %>
      <li>
        <%= link_to product.name, product_path(product) %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="products-most-reviews">
    <h2>Products with the Most Reviews:</h2>
    <ul>
      <% @products_most_reviews.each do |product| %>
      <li>
        <%= link_to product.name, product_path(product) %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="products-most-recently-reviewed">
    <h2>Products Most Recently Reviewed:</h2>
    <ul>
      <% @products_most_recently_reviewed.each do |product| %>
      <li>
        <%= link_to product.name, product_path(product) %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="products-usa-made">
    <h2>Products Made in the USA:</h2>
    <ul>
      <% @products_usa_made.each do |product| %>
      <li>
        <%= link_to product.name, product_path(product) %>
      </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p>
    There are no products in the database.
  </p>
<% end %>

<p>
  <%= link_to "Add new product", new_product_path %>
</p>
