<!DOCTYPE html>
<html>
<head>
  <title>Foodee Review</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if current_user %>
      <%= current_user.email %>(<%= ( current_user.admin === true ? "Admin" : "User" ) %>) | <%= link_to "Sign out", '/signout' %>
    <% else %>
      <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
    <% end %>

  <%= flash[:alert] %>
  <%= flash[:notice] %>
  <h1>Foodee Review</h1>
  <%= yield %>
</body>
</html>
